# Local Database and PHP servers (binary folders)
mariadb/
php/
mailpit/
scratch/

# Environments and Secrets
.env

# SQL Files (Ignore large database dumps but keep project schemas)
import/
*.sql
!sql/civicrm_mock.sql

# Composer files
vendor/
composer.lock
composer.phar


# Windows OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
